

/************************  本地浏览器markdown插件中的样式更改 ************************/
.content.flip{
    width: 80%;
    margin-left: -40%;
	max-width: 1100px;
	box-sizing: border-box;
}
@media screen and (max-width: 800px) {
    .content.flip{
        width: 100%;
		margin-left: -50%;
		max-width: 1100px;
    }
}

div#markdown-outline{
	display: block;
}


h1,h2,h3,h4,h5,h6{
	border-bottom: none;
}
pre>code{
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
.hljs-string{
	color: #df5000;
}
.hljs-comment{
	color: green;
}



